POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

TELEGRAM_USER_BOT_TOKEN=
TELEGRAM_STAFF_BOT_TOKEN=
TELEGRAM_ADMIN_BOT_TOKEN=

LEADERID_CLIENT_ID=
LEADERID_CLIENT_SECRET=
LEADERID_REDIRECT_URI=