# --- База данных ---
# localhost, если запускаете приложение вручную через npm run start
# db, если запускаете приложение через docker-compose (КАК НА СЕРВЕРЕ)
POSTGRES_HOST=db

# Данные для доступа к БД
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=technopark_db

# --- Telegram ---
# Токены, полученные от BotFather
TELEGRAM_USER_BOT_TOKEN=
TELEGRAM_ADMIN_BOT_TOKEN=

# --- LeaderID ---
# Ключи, полученные на leader-id.ru/developers
LEADERID_CLIENT_ID=
LEADERID_CLIENT_SECRET=

# ID точки кипения (для Точки на Жукова - 3942)
LEADERID_PLACE_ID=3942

# --- Настройки приложения ---
# Имя домена, на котором запускается приложение (без https://)
DOMEN_NAME=your-domain.com

# Ссылка на соглашение об обработке персональных данных
PERSONAL_DATA_AGREEMENT_URL=https://...