# localhost, если запускаете приложение вручную через npm run start с вручную поднятым postgres
# db, если запускаете приложение через docker-compose
POSTGRES_HOST=

# пользователь, пароль (умоляю, посложнее), название базы
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# токены user-бота и admin-бота
TELEGRAM_USER_BOT_TOKEN=
TELEGRAM_ADMIN_BOT_TOKEN=

# api-ключи с LeaderID
LEADERID_CLIENT_ID=
LEADERID_CLIENT_SECRET=

# Для точки кипения на Жукова - 3942
LEADERID_PLACE_ID=

# Имя домена, на котором запускается приложение
DOMEN_NAME=

# Ссылка на соглашение об обработке персональных данных
PERSONAL_DATA_AGREEMENT_URL=